#about {
  max-width: 900px;
  margin: 0 auto;
  font-size: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h2{
    font-family: "Metal Mania";
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.img {
    overflow-clip-margin: content-box;
    float: left;
    margin: 20px 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}